@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #ffa4d5;
  --primary-color-darker: #ff36a1;
  --border-color: #a40057;
  --text-color: #1e1e1e;
}

* {
  box-sizing: border-box;
}

html,
body {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

body {
  height: 100vh;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: var(--text-color);
}

.container {
  max-width: 550px;
  background: #fff2f9;
  padding: 20px;
  border-radius: 10px;
}

#form input,
#form label,
#form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

#form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
  border: 1px solid #a4007848;
  border-radius: 5px;
}

#form input:focus {
  outline: 1px solid var(--primary-color);
}

input::placeholder {
  color: #a4007848;
}

#form button {
  border: none;
  background: var(--primary-color);
  color: #fff2f9;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 10px;
  transition: 0.3s;
}

#form button:hover {
  background: var(--primary-color-darker);
}

#resultado {
  text-align: center;
}

.valid {
  background-color: rgb(74, 250, 176);
  padding: 10px 20px;
}

.not-valid {
  background-color: rgb(250, 74, 74);
  padding: 10px 20px;
}

footer {
  font-size: 16px;
}

footer a {
  color: var(--primary-color-darker);
  font-weight: 700;
  text-decoration: none;
}
